<div class="container">
    <div class="row">
        <div class="col-md-4">
            <H4>Votre mise:</H4>
            <span>10$</span>

        </div>
        <div class="col-md-4">
            <H4>Tu gagne:</H4>
            <span>360$</span>

        </div>
        <div class="col-md-4">
            <H4>Votre Solde:</H4>
            <span>5000$</span>

        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 colMise">
            <div class="row">
                <div class="col-md-12">
                    <h1>The best 10 Number</h1>
                    <table class="table-best">
                        <tr>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                            <td class="table-best-cellule"></td>
                        </tr>
                    </table>

                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <h1>Roulette table</h1>
                    <table class="table-Roulette">
                        <tr>
                            <td class="table-Roulette-cellule btn-dark">24</td>
                            <td class="table-Roulette-cellule btn-red">16</td>
                            <td class="table-Roulette-cellule btn-dark">33</td>
                            <td class="table-Roulette-cellule btn-red">1</td>
                            <td class="table-Roulette-cellule btn-dark">20</td>
                            <td class="table-Roulette-cellule btn-red">14</td>
                            <td class="table-Roulette-cellule btn-dark">31</td>
                            <td class="table-Roulette-cellule btn-red">9</td>
                            <td class="table-Roulette-cellule btn-dark">22</td>
                            <td class="table-Roulette-cellule btn-red">18</td>
                            <td class="table-Roulette-cellule btn-dark">29</td>
                            <td class="table-Roulette-cellule btn-red">7</td>
                            <td class="table-Roulette-cellule btn-dark">28</td>
                            <td class="table-Roulette-cellule btn-red">12</td>
                            <td class="table-Roulette-cellule btn-dark">35</td>
                        </tr>
                        <tr>
                            <td class="table-Roulette-cellule btn-red">5</td>
                            <td colspan="13"></td>
                            <td class="table-Roulette-cellule btn-red">3</td>

                        </tr>
                        <tr>
                            <td class="table-Roulette-cellule btn-dark">10</td>
                            <td colspan="13"></td>
                            <td class="table-Roulette-cellule btn-dark">26</td>
                        </tr>
                        <tr>
                            <td class="table-Roulette-cellule btn-red">23</td>
                            <td colspan="13"></td>
                            <td class="table-Roulette-cellule btn-success">0</td>
                        </tr>
                        <tr>
                            <td class="table-Roulette-cellule btn-dark">8</td>
                            <td colspan="13"></td>
                            <td class="table-Roulette-cellule btn-red">32</td>
                        </tr>
                        <tr>
                            <td class="table-Roulette-cellule btn-red">30</td>
                            <td class="table-Roulette-cellule btn-dark">11</td>
                            <td class="table-Roulette-cellule btn-red">36</td>
                            <td class="table-Roulette-cellule btn-dark">13</td>
                            <td class="table-Roulette-cellule btn-red">27</td>
                            <td class="table-Roulette-cellule btn-dark">6</td>
                            <td class="table-Roulette-cellule btn-red">34</td>
                            <td class="table-Roulette-cellule btn-dark" colspan="2">17</td>
                            <td class="table-Roulette-cellule btn-red">25</td>
                            <td class="table-Roulette-cellule btn-dark">2</td>
                            <td class="table-Roulette-cellule btn-red">21</td>
                            <td class="table-Roulette-cellule btn-dark">4</td>
                            <td class="table-Roulette-cellule btn-red">19</td>
                            <td class="table-Roulette-cellule btn-dark">15</td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-outline-light">Tier</button>
                    <button type="button" class="btn btn-outline-light">Orpheline</button>
                    <button type="button" class="btn btn-outline-light">Voisin de zero</button>
                    <button type="button" class="btn btn-outline-light">Zero</button>

                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="H1Mise">Votre mise</h1>
                    <button class="boutonMise btn1">1$</button>
                    <button class="boutonMise btn2">2$</button>
                    <button class="boutonMise btn3">4$</button>
                    <button class="boutonMise btn4">5$</button>
                    <button class="boutonMise btn5">10$</button>
                    <button class="boutonMise btn6">50$</button>
                    <button class="boutonMise btn7">100$</button>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-1">
            <table class="table-last">
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
                <tr>
                    <td class="table-last-cellule"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="T-Roulette">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="T-Roulette-Celule-green" colspan="3">0</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="T-Roulette-Celule-green" rowspan="2">1 <br>- <br>18</td>
                        <td class="T-Roulette-Celule-green" rowspan="4">1 <br>- <br>12</td>
                        <td class="T-Roulette-Celule-Red">1</td>
                        <td class="T-Roulette-Celule">2</td>
                        <td class="T-Roulette-Celule-Red">3</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule">4</td>
                        <td class="T-Roulette-Celule-Red">5</td>
                        <td class="T-Roulette-Celule">6</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule-green" rowspan="2">Even</td>
                        <td class="T-Roulette-Celule-Red">7</td>
                        <td class="T-Roulette-Celule">8</td>
                        <td class="T-Roulette-Celule-Red">9</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule">10</td>
                        <td class="T-Roulette-Celule">11</td>
                        <td class="T-Roulette-Celule-Red">12</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule-Red" rowspan="2">Red</td>
                        <td class="T-Roulette-Celule-green" rowspan="4">13 <br>- <br>24</td>
                        <td class="T-Roulette-Celule">13</td>
                        <td class="T-Roulette-Celule-Red">14</td>
                        <td class="T-Roulette-Celule">15</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule-Red">16</td>
                        <td class="T-Roulette-Celule">17</td>
                        <td class="T-Roulette-Celule-Red">18</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule" rowspan="2">Black</td>
                        <td class="T-Roulette-Celule-Red">19</td>
                        <td class="T-Roulette-Celule">20</td>
                        <td class="T-Roulette-Celule-Red">21</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule">22</td>
                        <td class="T-Roulette-Celule-Red">23</td>
                        <td class="T-Roulette-Celule">24</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule-green" rowspan="2">Odd</td>
                        <td class="T-Roulette-Celule-green" rowspan="4">25<br>- <br>36</td>
                        <td class="T-Roulette-Celule-Red">25</td>
                        <td class="T-Roulette-Celule">26</td>
                        <td class="T-Roulette-Celule-Red">27</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule">28</td>
                        <td class="T-Roulette-Celule">29</td>
                        <td class="T-Roulette-Celule-Red">30</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule-green" rowspan="2">19 <br>- <br>36</td>
                        <td class="T-Roulette-Celule">31</td>
                        <td class="T-Roulette-Celule-Red">32</td>
                        <td class="T-Roulette-Celule">33</td>
                    </tr>
                    <tr>
                        <td class="T-Roulette-Celule-Red">34</td>
                        <td class="T-Roulette-Celule">35</td>
                        <td class="T-Roulette-Celule-Red">36</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="T-Roulette-Celule-green">C1</td>
                        <td class="T-Roulette-Celule-green">C2</td>
                        <td class="T-Roulette-Celule-green">C3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-spin">
            <button type="button" class="btn btn-dark btn-lg btn-block">Spin</button>
        </div>
    </div>
</div>